@font-face {
    src: url(../myriad-pro-cufonfonts/MYRIADPRO-REGULAR.OTF);
    font-family: myriad-reg;
}

@font-face {
    src: url(../myriad-pro-cufonfonts/MyriadPro-Light.otf);
    font-family: myriad-lig;
}

@font-face {
    src: url(../myriad-pro-cufonfonts/MYRIADPRO-SEMIBOLD.OTF);
    font-family: myriad-sem;
}

@font-face {
    src: url(../myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF);
    font-family: myriad-bol;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    vertical-align: middle;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.clr {
    clear: both;
}

/* =================================================
                Common css end
==================================================*/

/* =================================================
                Header part start
==================================================*/
#header {
    height: 32px;
    background: #0872b9;
}

.header_text {
    width: 50%;
    float: left;
}

.header_icon {
    width: 50%;
    float: left;
    text-align: right;
}

.header_text p {
    color: #e7e7e7;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
}

.header_icon a {
    color: #e7e7e7;
    font-size: 14px;
    line-height: 32px;
    margin-left: 24px;
    transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -webkit-transition: all linear .3s;
}

.header_icon a:hover {
    color: #353535;
}

/* =================================================
                Header part end
==================================================*/

/* =================================================
                Menu part start
==================================================*/
#menu {
    height: 80px;
}


.logo {
    width: 15%;
    float: left;
}

.main_menu {
    width: 85%;
    float: left;
}

.logo a {
    line-height: 80px;
}

.main_menu ul {
    float: right;
}

.main_menu ul li {
    float: left;
}

.main_menu ul li a {
    color: #353535;
    font-size: 14px;
    line-height: 80px;
    margin-left: 15px;
    font-family: myriad-reg;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu ul li a:hover {
    color: #0872b9;
}

/* =================================================
                Menu part end
==================================================*/

/* =================================================
                Banner part start
==================================================*/
#banner {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 78px 0 88px;
    position: relative;
    z-index: 1;
}

#banner::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.banner_text {
    width: 450px;
    text-align: right;
    float: right;
}

.banner_text h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.banner_text h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.banner_text p {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}

.banner_text a{
    padding: 10px 20px;
    border: 1px solid #fff;
    margin-left: 16px;
    margin-top: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    line-height: 1;
}
.banner_text a:hover{
    background: #0872b9;
    border-color: #0872b9;
}

/* =================================================
                Banner part end
==================================================*/

/* =================================================
                About part start
==================================================*/
#about{
    text-align: center;
    padding: 48px 0 60px;
}

.common_head h2{
    color: #353535;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.common_head{
    position: relative;
    display: inline-block;
}

.common_head img{
    position: absolute;
    left: 0;
    bottom: 0;
}

.about_img{
    width: 390px;
    float: left;
}

.about_text{
    width: 570px;
    float: left;
    padding-left: 20px;
}

.about_img img{
    width: 100%;
    max-width: 100%;
}

.about_text p{
    color: #555;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    text-align: left;
    padding-top: 35px;
}

.about_text p span{
    display: block;
    padding-top: 24px;
}

.about_row{
    padding-top: 40px;
}

/* =================================================
                About part end
==================================================*/

/* =================================================
                Service part start
==================================================*/
#service{
    padding-bottom: 60px;
    text-align: center;
}

.ser_col{
    width: 31.94%;
    margin-right: 20px;
    float: left;
    background: #f1f1f1;
    padding: 50px 20px 20px;
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.ser_col h4{
    color: #353535;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.ser_col p{
    color: #555;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}

.serv_icon{
    width: 69px;
    height: 69px;
    background: #f1f1f1;
    line-height: 69px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.serv_icon::after {
    position: absolute;
    content: '';
    left: -3px;
    top: -3px;
    width: 69px;
    height: 69px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.serv_icon::before {
	position: absolute;
	content: '';
	left: -7px;
	top: -7px;
	width: 71px;
	height: 71px;
	border: 4px solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.ser_row{
    padding-top: 68px;
}

.ser_col:nth-child(3){
    margin-right: 0;
}

.ser_col:hover .serv_icon{
    background: #5bc5f4;
}

.ser_col:hover .serv_icon:after{
    border-color: #5bc5f4;
}

.ser_col:hover{
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

/* =================================================
                Service part end
==================================================*/

/* =================================================
                Portfolio part start
==================================================*/
#portfolio{
    padding-bottom: 60px;
    text-align: center;
}

.port_col{
    width: 23.43%;
    margin-right: 20px;
    float: left;
}

.port_img:first-child{
    margin-bottom: 20px;
}

.port_img img{
    width: 100%;
    max-width: 100%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.port_col:nth-child(4){
    margin-right: 0;
}

.port_row{
    padding-top: 30px;
}

.port_img{
    position: relative;
    overflow: hidden;
}

.port_img .overly{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.port_img .overly a{
    width: 40px;
    height: 40px;
    background: #5bc5f4;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.port_img:hover .overly{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform-origin: top;
}

.port_img:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/* =================================================
                Portfolio part end
==================================================*/

/* =================================================
                Team part start
==================================================*/
#team{
    padding-bottom: 60px;
    text-align: center;
}

.team_col{
    width: 23.43%;
    float: left;
    margin-right: 20px;
}

.team_col:nth-child(4){
    margin-right: 0;
}

.team_img img{
    width: 100%;
    max-width: 100%;
}

.team_row{
    padding-top: 30px;
}

.team_text h3{
    color: #353535;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.team_text p{
    color: #555;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.team_img {
    position: relative;
    transition: all linear .3s;
}

.team_img .overly{
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    opacity: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all linear .3s;
}

.team_img .overly ul li a{
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    color: #fff;
    line-height: 40px;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: all linear .3s;
}

.team_img .overly ul{
    padding-top: 35px;
}
.team_img .overly ul li a:hover{
    background: #5bc5f4;
    border-color: #5bc5f4;
}

.team_img:hover .overly{
    width: 80px;
    opacity: 1;
}

.team_col:hover .team_text h3{
    color: #5bc5f4;
}
.team_col:hover .team_img{
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
/* =================================================
                Team part end
==================================================*

/* =================================================
                Testimonail part start
==================================================*/
#testimonial{
    padding-bottom: 60px;
    text-align: center;
}

.test_col{
    width: 48.96%;
    margin-right: 20px;
    float: left;
}

.test_text{
    padding: 20px;
    background: #ddd;
    position: relative;
}

.test_img{
    padding-bottom: 36px;
}

.test_row{
    padding-top: 30px;
}

.test_text h3{
    color: #353535;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.test_text a{
    color: #5bc5f4;
    font-size: 13px;
}

.test_text p{
    color: #555;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.test_col:nth-child(2){
    margin-right: 0;
}

.test_text::after{
    position: absolute;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ddd;
    border-top: 20px solid transparent;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}


/* =================================================
                Testimonail part end
==================================================*/

/* =================================================
                Footer part start
==================================================*/
.foot_top{
    padding: 20px 0;
    background: #353535;
}

.foot_left,
.foot_sec{
    width: 25%;
    float: left;
    padding-right: 20px;
}

.foot_third{
    width: 20%;
    float: left;
    padding-right: 20px;
}

.foot_last{
    width: 30%;
    float: left;
}

.foot_sec h3{
    color: #fff;
}

.foot_sec a{
    color: #fff;
    padding-left: 45px;
    position: relative;
    margin-bottom: 10px;
}

.foot_sec a i{
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: red;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
} 

.foot_third ul{
    float: left;
    width: 50%;
}

.foot_third ul li a{
    color: #fff;
}




.foot_bottom{
    padding: 15px 0;
    text-align: center;
    background: #555;
}

.foot_bottom p{
    color: #fff;
}
/* =================================================
                Footer part end
==================================================*/